<h1>Add Movies</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
<br>
<p><%= link_to 'Back to Your Lists', lists_path %></p>
